In [2]:
# nombre de variables a utilizar
var1 = 'es una variable de texto'
print(var1)

es una variable de texto

In [4]:
var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

1 1000.0 John Doe
1

In [6]:
# concatenar variables en el print
var = "3.8.5"
print("Versión de Python: " + var)

Versión de Python: 3.8.5

In [1]:
# reasignar valores a variables ya creadas
var = 1
print(var)
var = var + 1
print(var)

1
2

In [2]:
a = 3
b = 4
c =(a**2 + b ** 2)**0.5
print('c =',c)

c = 5.0

In [6]:
juan = 3
maria = 5
adan = 6
total_manzanas = juan + maria + adan
print('Juan tiene ', juan, ' Manzanas')
print('Maria tiene ', maria, ' Manzanas')
print('Adan tiene', adan, ' Manzanas')
print('Numero total de manzanas: ',total_manzanas)

Juan tiene  3  Manzanas
Maria tiene  5  Manzanas
Adan tiene 6  Manzanas
Numero total de manzanas:  14

In [13]:
# operadores abreviados
x = 10
x = x ** 2
sheep = 1
sheep = sheep + 1
# codificar de manera mas sencilla
# sintaxis
# variable = variable operador expresion
# simplificado
# variable operador= expresion 
sheep += 1
x **= 2
# ejempos mas duros
# ejemplo 1
i = 15
j = 15
i = i + 2 *j 
i += 2*j
# segundo ejemplo
var = 1
j = 1 
rem = 13
# j = j -(i + var + rem)

j += -(i +var + rem)#opcion 1
j -= (i +var + rem)#opcion 2

In [14]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles*1.61
kilometers_to_miles = kilometers/1.61

print(miles, "millas son", round(miles_to_kilometers, 2), "kilómetros")
print(kilometers, "kilómetros son", round(kilometers_to_miles, 2), "millas")

7.38 millas son 11.88 kilómetros
12.25 kilómetros son 7.61 millas

In [19]:
# ecuacuaciones y expresiones
# 3x^3-2x^2+3x-1
x = -1
y = 3*x**3-2*x**2+3*x-1
print('valor de y=',y)

valor de y= -9